@page "/MatchHistory"

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-5">
    <MudTable Items="@Matches" Bordered="false" Outlined="false" Dense="true" Breakpoint="Breakpoint.None">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Match history</MudText>
        </ToolBarContent>
        <ColGroup>
            <col style="width: 250px;"/>
            <col style="width: 100px; min-width: 80px;"/>
            <col style="width: 250px;"/>
            <col style="min-width: 120px;"/>
            <col style="min-width: 80px;"/>
        </ColGroup>
        <HeaderContent>
            <MudTh>
                <MudText Align="Align.End" Class="d-block" Typo="Typo.inherit">Grey team</MudText>
            </MudTh>
            <MudTh>
                <MudText Align="Align.Center" Class="d-block" Typo="Typo.inherit">Score</MudText>
            </MudTh>
            <MudTh>
                <MudText Align="Align.Start" Class="d-block" Typo="Typo.inherit">Black team</MudText>
            </MudTh>
            <MudTh Class="d-none d-sm-table-cell">Date</MudTh>
            <MudTh Class="d-none d-sm-table-cell">
                <MudText Align="Align.End" Class="d-block" Typo="Typo.inherit">Options</MudText>
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="@nameof(Match.GreyDefenderPlayer)">
                <div class="d-flex w-100 flex-column align-end">
                    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Security" IconColor="Color.Primary">@context.GreyDefenderPlayer!.Name</MudButton>
                    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Bolt" IconColor="Color.Primary">@context.GreyAttackerPlayer!.Name</MudButton>
                </div>
                @* <div class="mt-5"> *@
                @*     <MudIcon Size="Size.Small" Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Info" /> *@
                @*     <MudText Inline="true" Align="Align.Start">@context.MatchDate.ToShortDateString()</MudText> *@
                @* </div> *@
            </MudTd>
            <MudTd>
                <MudText Align="Align.Center">
                    <MudText Inline="true" Typo="Typo.button" Color="GetGreyScoreColor(context)">@context.ScoreGrey</MudText>
                    <MudText Inline="true" Typo="Typo.button"> - </MudText>
                    <MudText Inline="true" Typo="Typo.button" Color="GetBlackScoreColor(context)">@context.ScoreBlack</MudText>
                </MudText>
            </MudTd>
            <MudTd>
                <div class="d-flex w-100 flex-column align-start">
                    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Security" IconColor="Color.Primary">@context.BlackDefenderPlayer!.Name</MudButton>
                    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Bolt" IconColor="Color.Primary">@context.BlackAttackerPlayer!.Name</MudButton>
                </div>
            </MudTd>
            <MudTd DataLabel="@nameof(Match.MatchDate)" Class="d-none d-sm-table-cell">
                <MudText Align="Align.Start">@context.MatchDate.ToString("ddd, d MMM, yyyy")</MudText>
            </MudTd>
            <MudTd Class="d-none d-sm-table-cell">
                <div class="w-100 d-flex justify-end">
                    <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Delete" Color="Color.Error"/>
                </div>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager/>
        </PagerContent>
    </MudTable>
</MudContainer>