@page "/PlayerDashboard"
@page "/PlayerDashboard/{PlayerId}"
<MudContainer MaxWidth="MaxWidth.Large" Class="mt-6 px-0 px-sm-6">
    <MudGrid>

        <MudItem xs="12" lg="12">
            @if (ViewModel.Players.Any())
            {
                <MudTable Items="@ViewModel.Players" Striped="true" Bordered="false" Outlined="false" Hover="true" Class="mud--theme-dark pt-4 px-0 px-md-4" Breakpoint="Breakpoint.None">
                    <ToolBarContent>
                        <MudText Typo="Typo.h4" Class="mb-8">PlayerRankings</MudText>
                    </ToolBarContent>
                    <ColGroup>
                        <col style="width: 60px;"/>
                        <col/>
                        <col/>
                        <col/>
                    </ColGroup>
                    <HeaderContent>
                        <MudTh>#</MudTh>
                        <MudTh>Players</MudTh>
                        <MudTh>TrueSkill</MudTh>
                        <MudTh>Games</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>@ViewModel.GetRankingNumber(context)</MudTd>
                        <MudTd DataLabel="Name">@context.Name</MudTd>
                        <MudTd DataLabel="TrueSkillRating">
                            <div class="d-flex align-center">
                                <MudText Inline="true">@context.TrueSkillRating?.Mean.ToString("N")</MudText>
                                <MudProgressLinear Style="max-width: 150px" Color="Color.Success" Rounded="true" Size="Size.Medium" Value="@((double)context.TrueSkillRating?.Mean!)" Min="ViewModel.MinTrueSkill" Max="ViewModel.MaxTrueSkill" Class="ml-3 d-none d-sm-inline-block"/>
                            </div>
                        </MudTd>
                        <MudTd DataLabel="MatchesPlayed">

                            <div class="d-flex align-center">
                                <MudText Inline="true">@context.MatchesPlayed</MudText>
                                <MudProgressLinear Style="max-width: 150px" Color="Color.Warning" Rounded="true" Size="Size.Medium" Value="@((double)context.MatchesPlayed!)" Min="ViewModel.MinGames" Max="ViewModel.MaxGames" Class="ml-3 d-none d-sm-inline-block"/>
                            </div>
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager HideRowsPerPage="true" HidePageNumber="true" HorizontalAlignment="HorizontalAlignment.End"/>
                    </PagerContent>
                </MudTable>
            }
        </MudItem>
        <MudItem xs="12" lg="4">
            <MudPaper Elevation="3">
                @if (ViewModel.WeekChartData.Any())
                {
                    <RadzenChart>
                        <RadzenLineSeries Smooth="true" Data="@ViewModel.WeekChartData" CategoryProperty="Date" Title="Win Rate" ValueProperty="WinRate">
                            <RadzenMarkers MarkerType="MarkerType.Circle"/>
                            <RadzenSeriesDataLabels Visible="false"/>
                        </RadzenLineSeries>
                        <RadzenCategoryAxis>
                            <RadzenAxisTitle Text="Week number"/>
                        </RadzenCategoryAxis>
                        <RadzenValueAxis Formatter="@ViewModel.FormatAsPercentage">
                            <RadzenGridLines Visible="true"/>
                            <RadzenAxisTitle Text="Win Rate (%)"/>
                        </RadzenValueAxis>
                        <RadzenLegend Visible="false"/>
                    </RadzenChart>
                }
            </MudPaper>
        </MudItem>
        <MudItem xs="12" lg="4">

        </MudItem>
        <MudItem xs="12" lg="4">

        </MudItem>
    </MudGrid>
</MudContainer>