@page "/ScoreCollection"
@inject IScoreCollectionViewModel _ViewModel

<div class="">
    <MudFab Color="Color.Primary" OnClick="_ViewModel.ToggleDrawer" StartIcon="@Icons.Material.Filled.Person">Drawer</MudFab>
</div>
@* ToDo RGA - Width should only be 100% on devices *@
<MudDrawer @bind-Open="@_ViewModel.DrawerOpen"
           Anchor="Anchor.End"
           Elevation="1"
           Variant="@DrawerVariant.Temporary"
           ClipMode="DrawerClipMode.Always"
           Width="100%">
    <div class="d-flex">
        @* ToDo RGA - Align items to the right *@
        <MudSwitch Label="Auto-swap players" @bind-Checked="@_ViewModel.AutoSwapPlayers" Color="Color.Primary"/>
        <MudSwitch Label="Auto-balance matches" @bind-Checked="@_ViewModel.AutoBalanceMatches" Color="Color.Primary"/>
        <MudSwitch Label="Show inactive players" @bind-Checked="@_ViewModel.ShowInactivePlayers" Color="Color.Primary"/>
        <MudFab Color="Color.Primary" Size="Size.Small" OnClick="_ViewModel.ToggleDrawer" StartIcon="@Icons.Material.Filled.Close"></MudFab>
    </div>
</MudDrawer>