@page "/ScoreCollection"
@inject IScoreCollectionViewModel _ViewModel

<MudContainer MaxWidth="MaxWidth.Medium">
    @if (_ViewModel.AvailablePlayers != null)
    {
        <div class="d-flex flex-column gap-2 mt-5 mb-8">
            <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" Class="align-self-end" Size="Size.Medium" OverrideStyles="false">
                <MudButton EndIcon="@Icons.Material.Filled.Save" Variant="Variant.Filled" Color="Color.Primary" OnClick="() => _ViewModel.SaveMatch()">Save</MudButton>
                <MudIconButton Icon="@Icons.Material.Filled.AutoFixHigh" Color="Color.Primary" Variant="Variant.Outlined" OnClick="() => _ViewModel.BalanceMatch()"></MudIconButton>
                <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowDown" Color="Color.Primary" Variant="Variant.Outlined"></MudIconButton>
            </MudButtonGroup>
            <MudSelect FullWidth="true" T="Player" Class="mt-0 flex-grow-1" Label="Players at the table" MultiSelection="true" SelectedValues="_ViewModel.SelectedPlayers" SelectedValuesChanged="_ViewModel.HandleSelectedPlayersChanged" Variant="Variant.Filled" ToStringFunc="_ViewModel.PlayerToString">
                @foreach (var player in _ViewModel.AvailablePlayers)
                {
                    <MudSelectItem T="Player" Value="@player">@player.Name</MudSelectItem>
                }
            </MudSelect>
        </div>
    }
    
    @if (_ViewModel.SelectedPlayers != null && _ViewModel.SelectedPlayers.Any())
    {
        <TeamCard PlayersList="_ViewModel.SelectedPlayers" @bind-TeamInfo="_ViewModel.GreyTeam"/>
        <TeamCard PlayersList="_ViewModel.SelectedPlayers" @bind-TeamInfo="_ViewModel.BlackTeam" IsFlipped="true" Type="TeamCardType.Dark"/>
    }
</MudContainer>